
html {
    font-size: 80%;
    background-color: #efefef;
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.AboutController {background-color: #A5C941;}
.InvoicesController {background-color: #2DAEBF;}
.ReportsController {background-color: #A9014B;}
.ProfilesController {background-color: #FC9200;}
.SessionsController {background-color: #0c0; }
.UsersController {background-color: #0c0; }


h1, h2, h3 {color: #333333;}
h1 {font-size: 250%;}
h2 {font-size: 150%;}
h3 {font-size: 125%; border-bottom: 1px solid #9F9F9F; margin: 2em 0 1em 0; padding-left: 6.5em;}
h4 {font-size: 100%; border-bottom: 1px solid #9F9F9F; margin-top: 2em ; margin-left: 7em; padding-left: 1em;  }
li {list-style-type: disc; margin-left: 2em;}

a {color: gray; text-decoration: none;}
a:hover {color: black;}
p {margin: 0.4em 0;}
.help {margin: 1em 0; background-color: #efefef; padding: 1em; -moz-border-radius: 0.3em;}

.top {width: 100%; height: 0.7em;}
#page {width: 780px; margin: 0 auto 2em auto; background-color: white; padding: 0 1em;
    -moz-border-radius: 0 0 1em 1em;}

.bottom {text-align: center; font-size: 70%; color: gray; padding: 0.5em 0;
    margin-top: 2em; border-top: 1px solid #9F9F9F;}

#logo {float: left; margin-right: 2em; margin-bottom: 1em;}

#head {width: 100%; overflow: hidden; }
#head h1 {font-size: 500%; letter-spacing: -0.1em; font-weight: bold;}
#head h1 a {color: #222222;}
#head p {font-variant: small-caps; margin-top: -1em; }

#navigation {margin-top: 1em;}
#navigation .sections {float: left; }
#navigation  a, #navigation span {padding: 2em 0.5em 1.5em 0.5em; font-variant: small-caps;}
#navigation span {color: white;}
#navigation a:hover {background-color: #efefef;}

.session {width: 100%; overflow: hidden; border-top: 1px solid gray; border-bottom: 1px solid gray; margin-bottom: 1em;
   color: gray; font-size: 90%; padding: 0.2em 0;}
.session a {font-variant: small-caps; padding: 0.5em; }
.content {padding: 1em 2em;}

.dialog {width: 70%; margin: 3em auto; border: 0.5em solid #efefef; padding: 1em;}
.dialog h2 {margin-left: 5.3em; margin-bottom: 0.2em;}
.dialog ul {margin: 1em 0 0.5em 8em;}
.dialog ul li {list-style-type: none; margin-left: 0; margin-top: 0.2em;}
form p {width: 100%; overflow: hidden; margin-bottom: 0.2em;}
form p.info {margin: 1em 0 0.5em 8em; color: #4F4F4F;}
form label {float: left; display: block; width: 4em; text-align: right; padding-top: 0.2em;
    margin-right: 0.5em; margin-left: 4.5em; color: gray;}
form span {margin-left: 1em;}
#encuesta input[type=text] {width: 6em;}
#encuesta textarea {width: 40em; height: 10em;}

form table {margin: 1em 0 2em 8em;}
form tr.even {background-color: #efefef;}
form table td {padding: 0.2em 1em; text-align: center;}
form table td.name {text-align: right; padding-right: 0.5em; width: 12em;}