
html {
    background-color: #efefef;
}

h1 {font-size: 250%;}
h2 {font-size: 150%;}
h3 {font-size: 125%; border-bottom: 1px solid #efefef; margin: 1em 0 1em 0;}
li {list-style-type: disc; margin-left: 2em;}

#page {width: 960px; margin: 2em auto;
    background-color: white;}

#head {text-align: center;}


#navigation {width: 100%; overflow: hidden; background-color: orange;}
#navigation .sections {float: left;}
#navigation .session {float: right;}
.content {padding: 1em 2em;}

.dialog {width: 50%; margin: 3em auto; border: 5px solid #efefef; padding: 3px;}
.dialog h2 {margin-left: 5.3em; margin-bottom: 0.2em;}
.dialog ul {margin: 0.5em 0 0.5em 8em}
form p {width: 100%; overflow: hidden; margin-bottom: 0.2em;}
form p.info {margin: 0.4em 0 0.2em 8em; color: gray;}
form label {float: left; display: block; width: 7.5em; text-align: right; padding-top: 0.2em;
    margin-right: 0.5em; color: gray;}

