<h1>Darse de alta</h1>

<div class="help">
  <p>En esta p치gina se pueden dar de alta los usuarios.</p>
  <p>En la versi칩n real se sustituir치 el email por un nombre de usuario.</p>
</div>


<div class="dialog">
  <h2>Datos de usuario</h2>
  <p class="info">Una vez creado recibir치s un email para confirmar tu cuenta</p>
  <% form_for @user do |form| %>
    <%= render :partial => '/users/form', :object => form %>
    <p>
      <label>&nbsp;</label>
    <%= form.submit t(:sign_up), :disable_with => 'Por favor, espere...' %>
    </p>
  <% end %>
</div>
<br/>