
<div class="dialog">
  <h2>Registrarse en Wecex</h2>
  <p class="info">Una vez creado recibirás un email para confirmar tu cuenta</p>
  <% form_for @user do |form| %>
    <%= render :partial => '/users/form', :object => form %>
    <p>
      <label>&nbsp;</label>
    <%= form.submit t(:sign_up), :disable_with => 'Por favor, espere...' %>
    </p>
  <% end %>
</div>
<br/>