<h1>Informe de consumo</h1>

<div class="help">
  <p>Aquí es donde se muestra el consumo, comparado con el consumo
  nacional y con posibles sugerencias de cómo mejorar, etcétera, etcétera.</p>
  <p>Por favor, Dani, completa esta info...</p>
</div>

