<h1>Informe de consumo</h1>

<div class="help">
  <p>En la fase I en esta pantalla aparecerá un gráfico que indicará la posición
  de consumo del usuario en función de datos estadísticos anuales.</p>
  <p>En la fase II, aquí se mostrará:</p>
  <ul>
    <li>La posición de consumo en función de los datos obtenidos de la encuesta siempre que haya suficientes, en otro caso.</li>
    <li>Una lista de actuaciones de rehabilitación energética recomendada con una estimación del ahorro.</li>
    <li>Un análisis de amortización de las actuaciones.</li>
    <li>Información sobre posibles subvenciones por comunidades autónomas.</li>
  </ul>
</div>

